<%= render partial: "admin/admin_nav" %>

<br><br>

<br><br><h2 style="background-color:lightgrey; border-top: 3px solid black; padding:10px; margin:20px;"><center>Invoices</h2>

<ul>
<% @invoices.each do |invoice| %>
  <ul style="font-size:25px;">Invoice #<%= link_to "#{invoice.id}", admin_invoice_path(invoice) %></ul>
<% end %>
</ul>