<%= render partial: "admin/admin_nav" %>
<br>
<br>
<%# Refactor this later to potentially add table or article? Maybe font size?  %>
<div id="top-merchants", style="float:right; margin:20px;"><h3 style="background-color:lightgrey;"><center>Top Merchants</h3>
  <ol>
    <% @merchants.each do |merchant| %>
        <li><%= merchant.name %></li><br>
    <% end %>
  </ol>
</div>